Repository Mafia-Hands/Mafia, pull requests merged in 2021-04, with the labels that each got.

#289 Add host player to room in MafiaGameMock
  backend/domain/Room.js
  backend/test/mocks/MafiaGameMock.js
  backend/test/unit/DayStateChangeEvents.unit.test.js
  backend/test/unit/NightStateChangeEvents.unit.test.js
  backend/test/unit/TrialStateChangeEvents.unit.test.js
  backend/test/unit/VotingEvents.unit.test.js
Labels: backend, bug, tests

#295 #283: Change maximum number of players to 7, set minimum number of players to 6
  backend/Events/LobbyEvents.js
  backend/domain/Room.js
Labels: backend

#285 Fixed bug with jesters winning when killed by mafia
  backend/Events/GameStateEvents/NightStateChangeEvents.js
  backend/Events/GameStateEvents/TrialStateChangeEvents.js
  backend/domain/Enum/PlayerStatus.js
  backend/domain/Player.js
  backend/domain/Room.js
  backend/test/unit/DomainModel.unit.test.js
Labels: backend, bug

#293 Testing/7 player expansion
  backend/test/integration/GameStartEvents.integration.test.js
  backend/test/integration/IntegrationTestHelpers.js
  backend/test/integration/LobbyEvents.integration.test.js
  backend/test/integration/NightTimeVoteEvents.integration.test.js
  backend/test/integration/StateChangeEvents.integration.test.js
  backend/test/integration/VoteEvents.integration.test.js
  backend/test/unit/DomainModel.unit.test.js
Labels: backend, refactoring

#300 Closes #229: Updated isDead and amIDead variable names to be more descriptive
  frontend/src/Components/Player.jsx
Labels: frontend, refactoring

#291 Change abstain variable name to noConfidence when calculating vote results
  backend/Events/GameStateEvents/TrialStateChangeEvents.js
  backend/Events/VoteEvents.js
  backend/domain/DTO/response/ListVoteDTO.js
  backend/domain/VoteHandler.js
  backend/test/unit/TrialStateChangeEvents.unit.test.js
  frontend/src/Components/Table.jsx
  frontend/src/Hooks/useGameState.js
Labels: bug

#299 Closes #267: Removed logic from backend that caused jester to be considered mafia for detective votes
  backend/Events/NightTimeVoteEvents.js
  backend/test/integration/NightTimeVoteEvents.integration.test.js
Labels: backend, bug

#303 Issue template: redesign
  .github/ISSUE_TEMPLATE/redesign.md
Labels: documentation, enhancement

#292 Enum for abstainVote
  backend/Events/GameStateEvents/TrialStateChangeEvents.js
  backend/Events/NightTimeVoteEvents.js
  backend/Events/VoteEvents.js
  backend/domain/DTO/response/ListVoteDTO.js
  backend/domain/VoteHandler.js
  backend/test/unit/TrialStateChangeEvents.unit.test.js
  common/Enum/Vote.js
Labels: backend, frontend, refactoring

#318 Closes #273: Changed case to lower case for backend folders/packages (Attempt 2)
  backend/domain/Player.js
  backend/domain/Room.js
  backend/domain/VoteHandler.js
  backend/domain/dto/request/CreateLobbyDTO.js
  backend/domain/dto/request/JoinLobbyDTO.js
  backend/domain/dto/request/NightTimeVoteDTO.js
  backend/domain/dto/request/VoteForDTO.js
  backend/domain/dto/response/DayStartDTO.js
  backend/domain/dto/response/DiscussionEndDTO.js
  backend/domain/dto/response/GameOverDTO.js
  backend/domain/dto/response/GameStartDTO.js
  backend/domain/dto/response/ListVoteDTO.js
  backend/domain/dto/response/LobbyCodeDTO.js
  backend/domain/dto/response/LobbyJoinDTO.js
  backend/domain/dto/response/NightEndDTO.js
  backend/domain/dto/response/NightStartDTO.js
  backend/domain/dto/response/SuspectRevealDTO.js
  backend/domain/dto/response/TrialEndDTO.js
  backend/domain/dto/response/TrialStartDTO.js
  backend/domain/enum/GameStateEnum.js
  backend/domain/enum/PlayerStatus.js
  backend/domain/enum/Role.js
  backend/events/GameStartEvents.js
  backend/events/LobbyEvents.js
  backend/events/NightTimeVoteEvents.js
  backend/events/VoteEvents.js
  backend/events/game-state-events/DayStateChangeEvents.js
  backend/events/game-state-events/NightStateChangeEvents.js
  backend/events/game-state-events/StateChangeEvents.js
  backend/events/game-state-events/TrialStateChangeEvents.js
  backend/index.js
  backend/test/integration/IntegrationTestHelpers.js
  backend/test/integration/NightTimeVoteEvents.integration.test.js
  backend/test/integration/VoteEvents.integration.test.js
  backend/test/mocks/MafiaGameMock.js
  backend/test/unit/DayStateChangeEvents.unit.test.js
  backend/test/unit/DomainModel.unit.test.js
  backend/test/unit/LobbyAdmin.unit.test.js
  backend/test/unit/NightStateChangeEvents.unit.test.js
  backend/test/unit/TrialStateChangeEvents.unit.test.js
  backend/test/unit/VotingEvents.unit.test.js
  common/enum/Vote.js
Labels: backend, bug

#320 Changed color scheme of lobby screen
  frontend/src/App.jsx
  frontend/src/Components/Chatbox.jsx
  frontend/src/Components/LobbySettings.jsx
  frontend/src/Components/PlayerList.jsx
  frontend/src/Components/TopBarSettings.jsx
  frontend/src/Pages/NewGameScreen.jsx
  frontend/src/Styles/NewGameScreen.module.css
  frontend/src/Styles/TopBarSettings.module.css
  frontend/src/Styles/colourScheme.css
Labels: design, frontend

#288 Feature/chat
  backend/events/MessageEvents.js
  backend/index.js
  backend/package-lock.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Chatbox.jsx
  frontend/src/Pages/NewGameScreen.jsx
Labels: backend, frontend

#321 Closes #269: Early timer termination for day, trial, and night stages of the game
  backend/domain/VoteHandler.js
  backend/events/NightTimeVoteEvents.js
  backend/events/game-state-events/DayStateChangeEvents.js
  backend/events/game-state-events/NightStateChangeEvents.js
  backend/events/game-state-events/TrialStateChangeEvents.js
  frontend/package-lock.json
  frontend/src/Components/Player.jsx
Labels: backend

#324 Increase number of max players to 15, add associated tests (#262)
  backend/domain/Room.js
  backend/test/integration/GameStartEvents.integration.test.js
  backend/test/integration/IntegrationTestHelpers.js
  backend/test/integration/LobbyEvents.integration.test.js
  backend/test/integration/NightTimeVoteEvents.integration.test.js
  backend/test/integration/StateChangeEvents.integration.test.js
  backend/test/integration/VoteEvents.integration.test.js
  backend/test/unit/DomainModel.unit.test.js
Labels: backend, tests

#331 [BUG] Closes #330: Added scrolling to lobby player list
  frontend/src/Components/PlayerList.jsx
Labels: bug, frontend

#334 Implement brightness control and 'Leave Game' button, add another Socket option
  frontend/package-lock.json
  frontend/package.json
  frontend/puppeteer/package-lock.json
  frontend/src/App.jsx
  frontend/src/Components/LobbySettings.jsx
  frontend/src/Pages/SettingDialog.jsx
  frontend/src/Socket.js
  frontend/src/Styles/NewGameScreen.module.css
Labels: frontend

#333 Close #313 Redesign of the Roles & Rules Screen/Help screen
  backend/events/game-state-events/DayStateChangeEvents.js
  frontend/src/Components/RolesAndRules.jsx
  frontend/src/Styles/ModalMUI.module.css
  frontend/src/Styles/RolesAndRules.module.css
  frontend/src/Styles/TopBarSettings.module.css
  frontend/src/images/Civilian.svg
  frontend/src/images/Detective.svg
  frontend/src/images/Jester.svg
  frontend/src/images/Mafia.svg
  frontend/src/images/Medic.svg
  frontend/src/images/Moon.svg
  frontend/src/images/Sun.svg
  frontend/src/images/Your Role.svg
Labels: design, frontend

#336 Closes #305: Redesign of Avatars
  frontend/src/Components/Player.jsx
  frontend/src/Styles/Player.module.css
  frontend/src/images/AvatarAlive.png
  frontend/src/images/AvatarDead.png
Labels: frontend

#342 Added room ID to message event
  backend/events/MessageEvents.js
  backend/events/game-state-events/NightStateChangeEvents.js
Labels: bug

#348 Add new line character at EOF of some files
  frontend/src/App.jsx
  frontend/src/Styles/HomePage.module.css
Labels: bug, frontend

#350 Replaced favicon and updated README.md logo
  README.md
  frontend/public/favicon.ico
Labels: design, frontend

#349 Updated roles and rules css so that it doesn't look strange on smaller monitors
  frontend/src/Styles/RolesAndRules.module.css
Labels: bug

#351 Small CSS changes across project to match colour scheme and designs
  frontend/src/App.css
  frontend/src/Components/LobbySettings.jsx
  frontend/src/Components/RolesAndRules.jsx
  frontend/src/Pages/HomePage.jsx
  frontend/src/Pages/NewGameScreen.jsx
  frontend/src/Pages/SettingDialog.jsx
  frontend/src/Styles/HomePage.module.css
  frontend/src/Styles/Player.module.css
  frontend/src/Styles/RolesAndRules.module.css
  frontend/src/Styles/TopBarSettings.module.css
Labels: design, frontend

#352 Credited 3Lancers and updated project status
  README.md
Labels: documentation

#353 Add comments, change bgm to copyright-free music, remove redundant socket client
  frontend/src/App.jsx
  frontend/src/Socket.js
Labels: commenting, frontend
