Repository Mafia-Hands/Mafia, pull requests merged in 2021-03, with the labels that each got.

#7 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

#13 Removed code of conduct
  CODE_OF_CONDUCT.md
Labels: documentation

#35 Feature/front end initial
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/Components/BottomBar.jsx
  frontend/src/Components/GameEnv.jsx
  frontend/src/Components/TopBar.jsx
  frontend/src/Styles/BottomBar.module.css
  frontend/src/Styles/GameEnv.module.css
  frontend/src/Styles/TopBar.module.css
  frontend/yarn.lock
Labels: frontend

#18 Readme update
  README.md
Labels: documentation

#38 Backend Server Skeleton Code
  backend/.gitignore
  backend/index.js
  backend/package-lock.json
  backend/package.json
Labels: backend, enhancement

#40 Table, Player And Status bar
  frontend/package-lock.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/Components/Player.jsx
  frontend/src/Components/StatusBar.jsx
  frontend/src/Components/Table.jsx
  frontend/src/Styles/Player.module.css
  frontend/src/Styles/Statusbar.module.css
  frontend/src/Styles/Table.module.css
Labels: enhancement, frontend, react component

#51 Adding an issue template for backend feature requests
  .github/ISSUE_TEMPLATE/new-backend-feature.md
Labels: documentation

#44 Add Issue Approvals
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/new-frontend-feature.md
Labels: documentation

#47 Feature/code formatting
  frontend/.prettierignore
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/Components/BottomBar.jsx
  frontend/src/Components/GameEnv.jsx
  frontend/src/Components/Player.jsx
  frontend/src/Components/StatusBar.jsx
  frontend/src/Components/Table.jsx
  frontend/src/Components/TopBar.jsx
  frontend/src/Styles/TopBar.module.css
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/reportWebVitals.js
  frontend/yarn.lock
Labels: frontend

#56 Home screen
  frontend/src/App.js
  frontend/src/Components/CodeJoinBar.jsx
  frontend/src/Components/CreateGame.jsx
  frontend/src/Components/NicknameBar.jsx
Labels: enhancement, frontend, react component

#63 Revert "Home screen"
  frontend/src/App.js
  frontend/src/Components/CodeJoinBar.jsx
  frontend/src/Components/CreateGame.jsx
  frontend/src/Components/NicknameBar.jsx
Labels: bug, frontend

#60 Added styling for player
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/Player.jsx
  frontend/src/Components/Table.jsx
  frontend/src/Styles/Player.module.css
  frontend/yarn.lock
Labels: frontend, react component

#64 Home screen
  frontend/src/App.js
  frontend/src/Components/CodeJoinBar.jsx
  frontend/src/Components/CreateGame.jsx
  frontend/src/Components/NicknameBar.jsx
Labels: enhancement, frontend, react component

#61 Configurable Top Bar
  frontend/src/App.js
  frontend/src/Components/TopBar.jsx
  frontend/src/Components/TopBarGame.jsx
  frontend/src/Components/TopBarSettings.jsx
  frontend/src/Styles/TopBarGame.module.css
  frontend/src/Styles/TopBarSettings.module.css
Labels: enhancement, frontend

#52 Domain models for the mafia game added.
  backend/domain/Enum/GameState.js
  backend/domain/Enum/Role.js
  backend/domain/MafiaGame.js
  backend/domain/Player.js
  backend/domain/Room.js
Labels: backend, domain model

#62 #24 rules and setting modal
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.js
  frontend/src/Components/RoleTable.js
  frontend/src/Components/RuleParagraph.js
  frontend/src/Components/Slider.js
  frontend/src/Components/TopBar.jsx
  frontend/src/Components/TopBarGame.jsx
  frontend/src/Components/TopBarSettings.jsx
  frontend/src/Modal/Modal.js
  frontend/src/Modal/ModalMUI.js
  frontend/src/Pages/RoleAndRuleDialog.js
  frontend/src/Pages/SettingDialog.js
  frontend/src/Styles/GoBackButton.module.css
  frontend/src/Styles/Modal.module.css
  frontend/src/Styles/ModalMUI.module.css
  frontend/src/Styles/RoleAndRuleDialog.module.css
  frontend/src/Styles/RuleParagraph.module.css
  frontend/src/Styles/RuleTable.module.css
  frontend/src/Styles/SettingDialog.module.css
  frontend/src/index.js
Labels: frontend

#66 #30 Create Timer
  frontend/src/Components/Timer.jsx
Labels: frontend

#73 Entry Screen created
  frontend/src/Components/EntryScreen.jsx
  frontend/src/Styles/EntryScreen.module.css
  frontend/src/Styles/Player.module.css
Labels: frontend

#97 Feature/backend reset lobby
  backend/Events/LobbyEvents.js
  backend/domain/MafiaGame.js
  backend/domain/Player.js
  backend/domain/Room.js
  backend/index.js
  backend/test/index.test.js
Labels: backend, enhancement

#91 Home screen combine
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/Components/CodeJoinBar.jsx
  frontend/src/Components/CreateGame.jsx
  frontend/src/Components/HomeScreen.jsx
  frontend/src/Components/HomeScreenID.jsx
  frontend/src/Components/NicknameBar.jsx
  frontend/src/Components/TopBarSettings.jsx
  frontend/yarn.lock
  package-lock.json
  package.json
Labels: enhancement, frontend, react component

#98 Add routes to the application
  frontend/src/App.js
  frontend/src/Pages/Home.js
  frontend/src/Pages/PlayScreen.js
  frontend/src/index.js
Labels: enhancement, frontend

#85 Feature/modal redesign
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/Components/GameEnv.jsx
  frontend/src/Components/RoleTable.js
  frontend/src/Components/RolesAndRules.js
  frontend/src/Components/RuleParagraph.js
  frontend/src/Components/TopBar.jsx
  frontend/src/Components/TopBarGame.jsx
  frontend/src/Components/TopBarSettings.jsx
  frontend/src/Modal/Modal.js
  frontend/src/Modal/ModalMUI.js
  frontend/src/Pages/RoleAndRuleDialog.js
  frontend/src/Pages/SettingDialog.js
  frontend/src/Styles/GoBackButton.module.css
  frontend/src/Styles/Modal.module.css
  frontend/src/Styles/ModalMUI.module.css
  frontend/src/Styles/RoleAndRuleDialog.module.css
  frontend/src/Styles/RolesAndRules.module.css
  frontend/src/Styles/RuleParagraph.module.css
  frontend/src/Styles/RuleTable.module.css
  frontend/src/Styles/SettingDialog.module.css
  frontend/src/Styles/TopBarGame.module.css
Labels: enhancement, frontend

#104 Created event handlers for lobby full and confirm start game and tests.
  backend/Events/LobbyEvents.js
  backend/domain/Room.js
  backend/package-lock.json
  backend/test/domainmodel.test.js
  backend/test/index.test.js
Labels: backend, bug

#119 ESLINT added to back end with prettier, jest plugins
  .prettierignore
  .prettierrc
  backend/.eslintrc.json
  backend/Events/LobbyEvents.js
  backend/domain/DTO/request/CreateLobbyDTO.js
  backend/domain/DTO/response/LobbyCodeDTO.js
  backend/domain/Enum/GameStateEnum.js
  backend/domain/Enum/Role.js
  backend/domain/MafiaGame.js
  backend/domain/Room.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/test/domainmodel.test.js
  backend/test/index.test.js
  frontend/.eslintrc.json
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/Components/RoleTable.js
  frontend/src/Components/RolesAndRules.js
  frontend/src/Components/RuleParagraph.js
  frontend/src/Components/Slider.js
  frontend/src/Modal/Modal.js
  frontend/src/Pages/Home.js
  frontend/src/Pages/PlayScreen.js
  frontend/src/Pages/RoleAndRuleDialog.js
  frontend/src/index.js
  frontend/src/reportWebVitals.js
  package-lock.json
  package.json
Labels: backend, enhancement

#120 Added an event handler to process start-game events
  backend/Events/GameStartEvents.js
  backend/config.json
  backend/domain/DTO/response/GameStartDTO.js
  backend/domain/Enum/Role.js
  backend/index.js
Labels: backend, enhancement

#131 Fixing logic and build errors in the start-game event handler
  backend/Events/GameStartEvents.js
Labels: backend, bug

#124 Added vote event handlers to allow players to vote
  backend/Events/LobbyEvents.js
  backend/Events/VoteEvents.js
  backend/domain/DTO/request/JoinLobbyDTO.js
  backend/domain/DTO/request/VoteForDTO.js
  backend/domain/DTO/response/ListVoteDTO.js
  backend/domain/DTO/response/LobbyJoinDTO.js
  backend/domain/Player.js
  backend/domain/Room.js
  backend/index.js
  backend/test/index.test.js
  package-lock.json
Labels: backend, enhancement

#126 Night Time Voting Implementation
  backend/Events/NightTimeVoteEvents.js
  backend/domain/DTO/request/NightTimeVoteDTO.js
  backend/domain/DTO/response/SuspectRevealDTO.js
  backend/domain/Room.js
  backend/domain/VoteHandler.js
  backend/index.js
Labels: backend, enhancement

#134 Fix/front end linting fixes
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/Components/BottomBar.jsx
  frontend/src/Components/GameEnv.jsx
  frontend/src/Components/RoleTable.js
  frontend/src/Components/RolesAndRules.js
  frontend/src/Components/RuleParagraph.js
  frontend/src/Components/TopBarGame.jsx
  frontend/src/Components/TopBarSettings.jsx
  frontend/src/Modal/Modal.js
  frontend/src/Modal/ModalMUI.js
  frontend/src/Pages/Home.js
  frontend/src/Pages/RoleAndRuleDialog.js
  frontend/src/Pages/SettingDialog.js
  frontend/yarn.lock
Labels: bug, frontend

#127 Feature 108/night state change event handlers
  backend/Events/GameStateEvents/NightStateChangeEvents.js
  backend/Events/GameStateEvents/StateChangeEvents.js
  backend/config.json
  backend/domain/DTO/response/NightEndDTO.js
  backend/domain/DTO/response/NightStartDTO.js
  backend/domain/Enum/GameStateEnum.js
  backend/domain/Room.js
  backend/domain/VoteHandler.js
  backend/index.js
  backend/package.json
  backend/test/NightStateChangeEvents.test.js
  backend/test/domainmodel.test.js
  backend/test/mocks/MafiaGameMock.js
Labels: backend, enhancement

#141 Created socket client to communicate with backend.
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/Components/GameEnv.jsx
  frontend/src/Components/LobbySettings.jsx
  frontend/src/Components/NewGameScreen.jsx
  frontend/src/Components/Player.jsx
  frontend/src/Components/PlayerList.jsx
  frontend/src/Components/StatusBar.jsx
  frontend/src/Components/Table.jsx
  frontend/src/Components/TopBarGame.jsx
  frontend/src/GameUtils.js
  frontend/src/Hooks/useGameState.js
  frontend/src/Hooks/useLobbyState.js
  frontend/src/Pages/CoreGamePage.jsx
  frontend/src/Pages/EntryScreen.jsx
  frontend/src/Pages/GameOverPage.jsx
  frontend/src/Pages/GamePage.js
  frontend/src/Pages/HomePage.js
  frontend/src/Pages/LobbyPage.js
  frontend/src/Pages/NewGameScreen.jsx
  frontend/src/Socket.js
  frontend/yarn.lock
Labels: enhancement, frontend

#147 Add Day and Trial Eventshandlers in the backend
  backend/.eslintrc.json
  backend/Events/GameStateEvents/DayStateChangeEvents.js
  backend/Events/GameStateEvents/NightStateChangeEvents.js
  backend/Events/GameStateEvents/StateChangeEvents.js
  backend/Events/GameStateEvents/TrialStateChangeEvents.js
  backend/Events/LobbyEvents.js
  backend/Events/NightTimeVoteEvents.js
  backend/Events/VoteEvents.js
  backend/config.json
  backend/domain/DTO/request/NightTimeVoteDTO.js
  backend/domain/DTO/request/VoteForDTO.js
  backend/domain/DTO/response/DayStartDTO.js
  backend/domain/DTO/response/DiscussionEndDTO.js
  backend/domain/DTO/response/GameOverDTO.js
  backend/domain/DTO/response/GameStartDTO.js
  backend/domain/DTO/response/TrialEndDTO.js
  backend/domain/DTO/response/TrialStartDTO.js
  backend/domain/Enum/Role.js
  backend/domain/Room.js
  backend/domain/VoteHandler.js
  backend/index.js
  backend/package.json
  backend/test/NightStateChangeEvents.test.js
  backend/test/domainmodel.test.js
  backend/test/index.test.js
  backend/test/mocks/MafiaGameMock.js
Labels: backend, enhancement

#72 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation, enhancement

#171 Made fixes to issues which regard incorrect API response/request hand…
  backend/Events/GameStateEvents/NightStateChangeEvents.js
  backend/Events/GameStateEvents/TrialStateChangeEvents.js
  backend/domain/DTO/response/DiscussionEndDTO.js
  backend/domain/DTO/response/GameOverDTO.js
Labels: Integration

#175 Fixed Logic/Socket Issues
  backend/Events/GameStateEvents/NightStateChangeEvents.js
  backend/Events/GameStateEvents/StateChangeEvents.js
  backend/Events/GameStateEvents/TrialStateChangeEvents.js
  backend/Events/LobbyEvents.js
  backend/domain/DTO/response/NightEndDTO.js
  backend/domain/DTO/response/TrialEndDTO.js
  backend/package.json
  backend/test/NightStateChangeEvents.test.js
  backend/test/mocks/MafiaGameMock.js
  frontend/src/GameUtils.js
  frontend/src/Hooks/useGameState.js
  frontend/src/Hooks/useLobbyState.js
Labels: Integration, bug

#160 Integrate new Home and Lobby Screens with Backend
  frontend/src/App.js
  frontend/src/Components/Chatbox.jsx
  frontend/src/Components/HomeScreen.jsx
  frontend/src/Components/LobbySettings.jsx
  frontend/src/Components/NewGameScreen.jsx
  frontend/src/Components/PlayerList.jsx
  frontend/src/Components/TopBarGame.jsx
  frontend/src/Components/TopBarSettings.jsx
  frontend/src/Pages/EntryScreen.jsx
  frontend/src/Pages/HomePage.js
  frontend/src/Pages/NewGameScreen.jsx
  frontend/src/Styles/Chatbox.module.css
  frontend/src/Styles/HomePage.module.css
  frontend/src/Styles/LobbySettings.module.css
  frontend/src/Styles/NewGameScreen.module.css
  frontend/src/Styles/PlayerList.module.css
  frontend/yarn.lock
Labels: enhancement, frontend

#179 Minor changes to prepare for deployment
  frontend/src/Socket.js
  frontend/yarn.lock
Labels: Integration

#191 Feature/180 improve component visibility
  frontend/package-lock.json
  frontend/src/Components/Player.jsx
  frontend/src/Styles/Player.module.css
Labels: frontend

#198 Added functionality to show who a player has voted for.
  frontend/src/Components/Player.jsx
  frontend/src/Hooks/useGameState.js
  frontend/src/Pages/GamePage.js
  frontend/src/Styles/Player.module.css
Labels: frontend, react component

#188 Moved on trial players to the center of table
  frontend/puppeteer/package-lock.json
  frontend/src/Components/Table.jsx
  frontend/src/Styles/Table.module.css
Labels: enhancement, frontend, react component

#196 added home screen validation and button disabling
  frontend/package-lock.json
  frontend/src/Pages/HomePage.js
  frontend/src/Styles/HomePage.module.css
Labels: enhancement, frontend

#136 Add Timer to TopBarGame
  frontend/src/Components/Timer.jsx
  frontend/src/Components/TopBarGame.jsx
  frontend/src/Styles/Timer.module.css
Labels: frontend

#187 Restructure unit tests for backend
  backend/Events/VoteEvents.js
  backend/test/index.test.js
  backend/test/mocks/MafiaGameMock.js
  backend/test/unit/LobbyAdmin.test.js
  backend/test/unit/NightStateChangeEvents.test.js
  backend/test/unit/VotingEvents.test.js
  backend/test/unit/domainmodel.test.js
Labels: backend, tests

#189 Testing/integration tests
  backend/test/integration/GameStartEvents.integration.test.js
  backend/test/integration/StateChangeEvents.integration.test.js
  backend/test/mocks/configTest.json
Labels: backend, tests

#204 #184 Add screen change transition
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Components/StatusBar.jsx
  frontend/src/Pages/EntryScreen.jsx
  frontend/src/Pages/GameOverPage.jsx
  frontend/src/Styles/Player.module.css
  frontend/src/Styles/Statusbar.module.css
Labels: enhancement, frontend

#207 Voting calculation bug fix
  backend/Events/VoteEvents.js
  backend/domain/DTO/response/ListVoteDTO.js
Labels: backend, bug

#195 Add functionality to Bottom Bar
  backend/package.json
  frontend/src/Components/BottomBar.jsx
  frontend/src/Hooks/useGameState.js
  frontend/src/Pages/CoreGamePage.jsx
  frontend/src/Pages/GamePage.js
  frontend/src/Pages/HomePage.js
Labels: enhancement, frontend, react component

#200 Roles Modal Enhancements
  frontend/src/Components/RolesAndRules.js
  frontend/src/Styles/RolesAndRules.module.css
Labels: enhancement, frontend

#210 fixed bug of timer not reseting
  frontend/src/Hooks/useGameState.js
Labels: bug, frontend

#209 Styling for all screens for comprehensive design
  frontend/puppeteer/launchPlayers.js
  frontend/puppeteer/package-lock.json
  frontend/src/Components/Chatbox.jsx
  frontend/src/Components/LobbySettings.jsx
  frontend/src/Components/PlayerList.jsx
  frontend/src/Components/RolesAndRules.js
  frontend/src/Components/TopBarGame.jsx
  frontend/src/Components/TopBarSettings.jsx
  frontend/src/Pages/EntryScreen.jsx
  frontend/src/Pages/GameOverPage.jsx
  frontend/src/Pages/HomePage.js
  frontend/src/Pages/NewGameScreen.jsx
  frontend/src/Pages/SettingDialog.js
  frontend/src/Socket.js
  frontend/src/Styles/HomePage.module.css
  frontend/src/Styles/ModalMUI.module.css
  frontend/src/Styles/NewGameScreen.module.css
  frontend/src/Styles/Player.module.css
  frontend/src/Styles/RolesAndRules.module.css
  frontend/src/Styles/SettingDialog.module.css
  frontend/src/Styles/TopBarGame.module.css
  frontend/src/Styles/TopBarSettings.module.css
  frontend/src/Styles/colourScheme.css
Labels: enhancement, frontend

#199 End game setting
  backend/package-lock.json
  frontend/src/Pages/GameOverPage.jsx
  frontend/src/Socket.js
Labels: bug, frontend

#206 Feature/show detective suspect role
  frontend/package-lock.json
  frontend/src/Components/Player.jsx
  frontend/src/Hooks/useGameState.js
  frontend/src/Styles/Player.module.css
Labels: frontend

#218 Add abstain vote functionality
  backend/Events/GameStateEvents/TrialStateChangeEvents.js
  backend/Events/VoteEvents.js
  backend/domain/DTO/response/ListVoteDTO.js
  backend/domain/VoteHandler.js
  frontend/src/Components/Table.jsx
  frontend/src/Hooks/useGameState.js
  frontend/src/Styles/Table.module.css
Labels: backend, enhancement, frontend

#138 Fix intellisense for Jest
  backend/package-lock.json
  backend/package.json
Labels: backend, enhancement

#197 Fix a dead player could vote issue
  frontend/src/Hooks/useGameState.js
Labels: bug, frontend

#227 Fix/deadplayers cant use abilities
  backend/package-lock.json
  frontend/package-lock.json
  frontend/src/Hooks/useGameState.js
  frontend/src/Pages/GameOverPage.jsx
Labels: bug, frontend

#224 Change the web page title and favicon [Issue # 208]
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
Labels: enhancement, frontend

#219 Fix gameover page styling
  frontend/src/Components/Player.jsx
  frontend/src/Hooks/useGameState.js
  frontend/src/Pages/GameOverPage.jsx
Labels: frontend

#232 Add Lobby Reset Functionality
  frontend/src/Hooks/useLobbyState.js
  frontend/src/Pages/GameOverPage.jsx
  frontend/src/Styles/GameOver.module.css
Labels: enhancement, frontend

#233 Add background colour transitions
  frontend/src/Components/StatusBar.jsx
  frontend/src/Styles/BottomBar.module.css
  frontend/src/Styles/Statusbar.module.css
  frontend/src/Styles/Table.module.css
Labels: enhancement, frontend

#226 Feature/lobby & vote events integration tests
  backend/Events/LobbyEvents.js
  backend/Events/NightTimeVoteEvents.js
  backend/Events/VoteEvents.js
  backend/test/integration/GameStartEvents.integration.test.js
  backend/test/integration/IntegrationTestHelpers.js
  backend/test/integration/LobbyEvents.integration.test.js
  backend/test/integration/NightTimeVoteEvents.integration.test.js
  backend/test/integration/StateChangeEvents.integration.test.js
  backend/test/integration/VoteEvents.integration.test.js
  package-lock.json
Labels: backend

#236 Feature/url lobby#117
  frontend/src/App.js
  frontend/src/Pages/Home.js
  frontend/src/Pages/HomePage.js
  frontend/src/Pages/LobbyPage.js
  frontend/src/Pages/PlayScreen.js
Labels: enhancement, frontend

#237 Added code of conduct to root
  CODE_OF_CONDUCT.md
Labels: documentation

#239 Changed the backend unit test file names
  backend/test/unit/DomainModel.unit.test.js
  backend/test/unit/LobbyAdmin.unit.test.js
  backend/test/unit/NightStateChangeEvents.unit.test.js
  backend/test/unit/VotingEvents.unit.test.js
Labels: backend, refactoring

#246 README.md clean up and expansion
  README.md
Labels: documentation

#242 Remove backend domain model getters and setters
  backend/Events/GameStateEvents/NightStateChangeEvents.js
  backend/domain/MafiaGame.js
  backend/domain/Player.js
  backend/domain/Room.js
Labels: backend, refactoring

#241 Ran through all files to run maintenance for lint errors/warnings
  backend/.eslintrc.json
  backend/Events/GameStartEvents.js
  backend/Events/GameStateEvents/DayStateChangeEvents.js
  backend/Events/GameStateEvents/NightStateChangeEvents.js
  backend/Events/LobbyEvents.js
  backend/Events/VoteEvents.js
  backend/domain/MafiaGame.js
  backend/domain/Room.js
  backend/domain/VoteHandler.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/test/integration/GameStartEvents.integration.test.js
  backend/test/integration/IntegrationTestHelpers.js
  backend/test/integration/LobbyEvents.integration.test.js
  backend/test/integration/NightTimeVoteEvents.integration.test.js
  backend/test/integration/StateChangeEvents.integration.test.js
  backend/test/integration/VoteEvents.integration.test.js
  backend/test/mocks/MafiaGameMock.js
  backend/test/unit/DomainModel.unit.test.js
  backend/test/unit/LobbyAdmin.unit.test.js
  backend/test/unit/NightStateChangeEvents.unit.test.js
  backend/test/unit/VotingEvents.unit.test.js
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/puppeteer/launchPlayers.js
  frontend/src/Components/RolesAndRules.jsx
  frontend/src/GameUtils.js
  frontend/src/Hooks/useGameState.js
  frontend/src/Hooks/useLobbyState.js
  frontend/src/Pages/GamePage.jsx
  frontend/src/Pages/SettingDialog.jsx
  frontend/src/Socket.js
Labels: backend

#254 Commenting for domain objects
  backend/domain/Enum/GameStateEnum.js
  backend/domain/Enum/Role.js
  backend/domain/MafiaGame.js
  backend/domain/Player.js
  backend/domain/Room.js
  backend/domain/VoteHandler.js
Labels: backend, commenting, documentation, domain model

#249 Night Votes Unit Tests
  backend/test/unit/VotingEvents.unit.test.js
Labels: backend, tests

#245 Add 2 unit tests for day-start
  backend/test/mocks/MafiaGameMock.js
  backend/test/unit/DayStateChangeEvents.unit.test.js
  backend/test/unit/VotingEvents.unit.test.js
Labels: backend, tests

#258 Added additional branch name tags to the contributing guidelines
  CONTRIBUTING.md
Labels: documentation

#253 Apply Table transition to just the Background
  frontend/src/Styles/Table.module.css
Labels: bug

#248 Update readme
  README.md
Labels: documentation

#264 PR, Commenting and Testing Modifications to CONTRIBUTING
  CONTRIBUTING.md
Labels: documentation

#263 Testing/trial state change unit tests
  backend/Events/GameStateEvents/TrialStateChangeEvents.js
  backend/test/mocks/MafiaGameMock.js
  backend/test/unit/TrialStateChangeEvents.unit.test.js
  backend/test/unit/VotingEvents.unit.test.js
Labels: backend, bug, tests

#277 Commenting + minor refactoring to MafiaGameMock
  backend/test/mocks/MafiaGameMock.js
  backend/test/unit/NightStateChangeEvents.unit.test.js
  backend/test/unit/TrialStateChangeEvents.unit.test.js
Labels: backend, commenting, tests

#280 Added info to the contributing guidelines regarding merge access
  CONTRIBUTING.md
Labels: documentation
